.properties--container {
/* 
    background: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)) center center / cover no-repeat, url(./bg-sign-in-basic.jpeg) ;
    background-position: center center; */
    overflow: hidden;

}

.search--field {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
}

.search--field  > input {
    outline: none;
    border: none;
    width: 18rem;
    height: 3rem;
    background-color: rgb(211, 229, 244);
    text-indent: 1rem;
}
.search--field  > input::placeholder {
    color: rgb(89, 89, 89);
}
.search-btn {
    height: 3rem;
    width: 4rem;
    border-radius: 10%;
}

.left-grid {
    width: 100%;
    height: 100vh;


}

.filter-keys {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    padding-left: 5rem;
    padding-top: 2rem;
}

.left-container {
    /* background-color: aliceblue; */
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 2rem;
}


.property-container {
    height: 80vh;
    padding-bottom: 2rem;
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 3rem;
    margin-top: 8rem;
    
}

