.profile-container {
    height:100vh;
    position: relative;
    top: 6.5rem;
}

.profile--img {
    width: 50px;
    border-radius: 50%;
}

.userid--box > p {
    color: var(--primary);
    font-weight: 600;
}

.text--danger {
    color: rgb(174, 13, 13);
    font-weight: 500;
}