.h1-update {
    color: #5FA8EF;
   

}

.property-form {

    background-position: center center;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.edit-property-form {
    background-color: antiquewhite;
}